{% extends 'example.html' %}

{% block header %}
    <span>班级课程记录</span>
{% endblock %}

{% block content %}

    <div class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header"></div>

                        <form action="" method="get" style="display: inline-block" class="pull-right">
                            {% csrf_token %}

                        <a href="" class="btn btn-primary pull-right">添加信息</a>
                        </form>
                        <form action="" method="post">
                            {% csrf_token %}
                            <select name="action" id="" class="form-control pull-left" style="width: 190px;display: inline-block">
                                <option value="batch_delete" >批量创建学生学习记录</option>

                            </select>

                            <button class="btn btn-default" style="margin-bottom: 5px">go</button>
                    <!-- /.box-header -->
                        <div class="box-body">
                            <table id="example2" class="table table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th><input type="checkbox" id="choose"></th>
                                    <th>序号</th>
                                    <th>班级</th>
                                    <th>节次</th>
                                    <th>老师</th>
                                    <th>本节课程标题</th>
                                    <th>学详</th>
                                    <th>操作</th>

                                </tr>
                                </thead>
                                <tbody>
                                    {% for classstudy in classstudy_obj %}
                                        <tr>
                                            <td><input type="checkbox" name="selected_id" value="{{ classstudy.pk }}"></td>
                                            <td>{{ forloop.counter }}</td>
                                            <td>{{ classstudy.class_obj }}</td>
                                            <td>{{ classstudy.day_num }}</td>
                                            <td>{{ classstudy.teacher }}</td>
                                            <td>{{ classstudy.course_title }}</td>
                                            <td><a href="{% url 'study_decord' classstudy.pk %}">学详</a></td>
                                            <td>
                                                <a href="" class="btn btn-warning">编辑</a>
                                                <a href="" class="btn btn-danger">删除</a>
                                            </td>
                                        </tr>
                                    {% endfor %}

                                </tbody>
                            </table>
                        </div>
                    </form>
                    <!-- /.box-body -->
                </div>

                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>





{% endblock %}

{% block js %}
    <script>
        $('#choose').click(function () {
            var status=$(this).prop('checked');
            $('[name=selected_id]').prop('checked',status)
        })

    </script>


{% endblock %}



