{% extends 'example.html' %}

{% block header %}
    {% if flag %}
        我的客户信息表

    {% else %}
        公共客户信息表
    {% endif %}

{% endblock %}

{% block content %}

    <div class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header"></div>

                        <form action=" url {% if flag %}'mycustomers'{% else %}'customer'{% endif %}" method="get" style="display: inline-block" class="pull-right">
                            {% csrf_token %}

                            <select name="condition" id="" class="form-control" style="width: 100px;display: inline-block;margin-top: -5px">
                                <option value="name__contains">姓名</option>
                                <option value="qq__contains">QQ</option>
                            </select>
                            <input type="text" name="wd" style="height: 33px"><button style="height: 33px">搜索</button>


                        <a href="{% url 'addcustomerinfo' %}" class="btn btn-primary pull-right">添加信息</a>
                        </form>
                        <form action="" method="post">
                            {% csrf_token %}
                            <select name="action" id="" class="form-control pull-left" style="width: 120px;display: inline-block">
                                <option value="batch_delete">批量删除</option>
                                <option value="batch_update">批量更新</option>
                                {% if flag %}
                                    <option value="batch_reverse_sg">私户转公户</option>

                                {% else %}
                                    <option value="batch_reverse_gs">公户转私户</option>
                                {% endif %}


                            </select>

                            <button class="btn btn-default" style="margin-bottom: 5px">go</button>
                    <!-- /.box-header -->
                        <div class="box-body">
                            <table id="example2" class="table table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th><input type="checkbox" id="choose"></th>
                                    <th>序号</th>
                                    <th>qq</th>
                                    <th>姓名</th>
                                    <th>性别</th>
                                    <th>客户来源</th>
                                    <th>咨询课程</th>
                                    <th>选择客户此时的状态</th>
                                    <th>跟进记录</th>
                                    <th>销售</th>
                                    <th>操作</th>

                                </tr>
                                </thead>
                                <tbody>
                                    {% for customer in all_customers %}
                                        <tr>
                                            <td><input type="checkbox" name="selected_id" value="{{ customer.pk }}"></td>
                                            <td>{{ forloop.counter }}</td>
                                            <td>{{ customer.qq }}</td>
                                            <td>{{ customer.name }}</td>
                                            <td>{{ customer.get_sex_display }}</td>
                                            <td>{{ customer.get_source_display }}</td>
                                            <td>{{ customer.course }}</td>
                                            <td>{{ customer.get_status_display }}</td>
                                            <td><a href="{% url 'gj-one' customer.pk %}">跟进记录</a></td>
                                            <td>{{ customer.consultant.username|default:'暂无' }}</td>
                                            <td>
                                                <a href="{% url 'updatacustomerinfo' customer.pk %}" class="btn btn-warning">编辑</a>
                                                <a href="{% url 'deletacustomerinfo' customer.pk %}" class="btn btn-danger">删除</a>
                                            </td>
                                        </tr>
                                    {% endfor %}

                                </tbody>
                            </table>
                        </div>
                    </form>
                    <!-- /.box-body -->
                </div>

                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>


<span class="pull-right">{{ html_1|safe }}</span>


{% endblock %}

{% block js %}
    <script>
        $('#choose').click(function () {
            var status=$(this).prop('checked');
            $('[name=selected_id]').prop('checked',status)
        })

    </script>


{% endblock %}


